.App {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  background-color: rgb(232, 218, 246);
  
}

.pan{
  margin-left: 10px;
  font-size: 17px;
  font-weight: 500;
  font-weight: bold;
}


.ras{
  display: flex;
}

.outline{
  width: 550px;
  height: 25px;
  border-radius: 5px;
  border: 2px solid black;
  margin: 10px;

}

.deep{
  font-size: 17px;
  font-weight: bold;
  
}
.btnh{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  margin: 20px;
}
.btn{
  width: 80px;
  height: 30px;
  background-color: rgb(38, 52, 204);
  font-size: 17px;
  color: white;
  border: none
}

.btn:hover{
  background-color: rgb(11, 11, 92);
  transition: all;
  transition-duration: 0.7s;
}